.counter {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 200px;
}

.counter-header {
  text-align: center;
}

.display {
  margin-left: 10px;
  margin-right: 10px;
}

.counter-toggles {
  margin-top: 20px;
}
